/* index page - slider */
#slider-container {
    overflow: hidden;
    height: 30vh;
}

#slider {
    background: url("../img/web/bg-slider.png") repeat-x;
    background-size: 250vh;
    height: 300px;
    width: 7500px;
    animation: slide 90s linear infinite;
}

@keyframes slide {
    0% {
        transform: translate3d(0, 0, 0);
    }

    100% {
        transform: translate3d(-2500px, 0, 0);
    }
}