/* TIMELINE
----------- */
.main-timeline {
    /* timeline (vertical ruler) */
    position: relative;
}

.main-timeline::after {
    content: "";
    position: absolute;
    width: 6px;
    background-color: #939597;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

.timeline {
    /* Container around content */
    position: relative;
    background-color: inherit;
    width: 50%;
}

.timeline::after {
    /* The circles on the timeline */
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    right: -13px;
    background-color: #939597;
    border: 5px solid #f5df4d;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

.left {
    /* Place the container to the left */
    padding: 0px 40px 20px 0px;
    left: 0;
}

.right {
    /* Place the container to the right */
    padding: 0px 0px 20px 40px;
    left: 50%;
}

.left::before {
    /* Arrows of left container -> */
    content: " ";
    position: absolute;
    top: 18px;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
}

.right::before {
    /* Arrows of right container <- */
    content: " ";
    position: absolute;
    top: 18px;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
}

.right::after {
    /* Fix the circle for containers on the right side */
    left: -12px;
}

@media (max-width: 1000px) {


    /* Place the timelime to the left */
    .main-timeline::after {
        left: 31px;
    }

    /* Full-width containers */
    .timeline {
        width: 100%;
        padding-left: 70px;
        padding-right: 5px;
        font-size: small;
    }

    /* Make sure that all arrows are pointing leftwards */
    .timeline::before {
        left: 60px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent white transparent transparent;
    }

    /* Make sure all circles are at the same spot */
    .left::after,
    .right::after {
        left: 18px;
    }

    .left::before {
        right: auto;
    }

    /* Make all right containers behave like the left ones */
    .right {
        left: 0%;
    }
}